<!DOCTYPE html>
<html>
    <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />

      <!-- Vendor CSS Files -->
  <link href="http://klang.zhanluejia.net.cn/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="http://klang.zhanluejia.net.cn/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://klang.zhanluejia.net.cn/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="http://klang.zhanluejia.net.cn/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="http://klang.zhanluejia.net.cn/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <!--link href="http://klang.zhanluejia.net.cn/assets/css/style.css" rel="stylesheet"-->
  <style>
 .btn-Copy {
    float:right;
    right: .65rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: .65em;
    color: #0d6efd;
    background-color: #fff;
    border: 1px solid;
    border-radius: .25rem;
 }
 
 .bg {
    background: rgba(14, 22, 34, 0.02);
 }


 .spinner-stop {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -.125em;
    background-color: currentColor;
    border-radius: 50%;
    /* opacity: 0; */
    /* -webkit-animation: .75s linear infinite spinner-grow; */
    /* animation: .75s linear infinite spinner-grow; */
   }

  </style>


        <title>Klang(金浪)自选股票</title>

    </head>
    <body class="bg">

   <div id="app">
   <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" style="min-height:60px;">
   <div class="container-fluid">
    <a class="navbar-brand" href="#">开始</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://www.klang.org.cn">主页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">股票</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            知识
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">结构</a></li>
            <li><a class="dropdown-item" href="#" id="resetcmd">复位列表和数据</a></li>
            <li><a class="dropdown-item" href="#" id="resetstock">复位数据</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">波浪理论</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">和谐交易</a>
        </li>
      </ul>


    <div class="spinner-border spinner-border-sm text-primary" role="status" v-if="busy">
    <span class="visually-hidden">...</span>
    </div>

    <div class="form-check" style="margin-right:20px;margin-left:10px;">
    
    <input class="form-check-input" type="checkbox" value="" id="flexbusy" checked disabled>
    <label class="form-check-label" for="flexbusy">
        观察
    </label>
    </div>
   

  </div>
  </div>
</nav>

<div class="container" style="margin-top:30px;">
  <div class="row ">
    <div class="col" >
         <div class="shadow-sm p-3 mb-5 bg-white rounded" style="padding:20px;">
  
        
           <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="ltszCheck" value="option1">
            <label class="form-check-label" for="ltszCheck">剔除小市值</label>
         </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="STCheck" value="option2" checked>
        <label class="form-check-label" for="STCheck">剔除ST</label>
        </div>



           <div class="form">
                <textarea id="content" style="min-height:200px;width:95%"></textarea>
            </div>
            <button type="button" class="btn btn-warning" style="margin-right:30px;"id="reset">清除</button>
            <button type="button" class="btn btn-primary" id="run">运行公式</button>
          </div> <!--shadow-sm-->
        <p> </p>


    <div class="input-group input-group-sm mb-3">
  <input type="text" class="form-control" value="sh601012" id="maincode" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" @click="addmain">加入自选</button>
  </div>
</div>

<div class="accordion shadow-sm rounded" id="accordionExample">


  <div class="accordion-item" v-for="(code,index) in codelist">
    <h2 class="accordion-header" v-bind:id="'heading'+index">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" v-bind:data-bs-target="'#collapse'+index" aria-expanded="false" v-bind:aria-controls="'collapse'+index">
        #{{index+1}} {{code}}
      </button>
    </h2>
    <div v-bind:id="'collapse'+index" class="accordion-collapse collapse" v-bind:aria-labelledby="'heading'+index" data-bs-parent="#accordionExample">
      <div class="accordion-body">




       <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" v-bind:id="'sub'+index" aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
         <button class="btn btn-outline-secondary" type="button">增加关联</button>
         <button class="btn btn-outline-secondary" @click="delmain(code)" type="button">删除自选</button>
        </div>
       </div> <!--input-group-->
 
      </div>
    </div> <!--div id -->
  </div> <!--item-->
</div> <!--accordionExample-->


  <p style="margin-bottom:40px;"> </p>

    </div> <!-- col -->
    <div class="col">
        <div class="display">

            <table class="table table-bordered" border="1">
            <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">code</th>
            <th scope="col">值</th>
            <th scope="col">流通值(亿)</th>
            <th scope="col">板块</th>
            <th scope="col">概念板块</th>
            <th scope="col">筹码</th>
            </tr>
            </thead>
             <tbody>
                <tr v-for="(item,index) in result">
                <th scope="row" >{{index+1}}</th>
                <td><a v-bind:href="'http://finance.sina.com.cn/realstock/company/'+item.code+'/nc.shtml'" target=_blank>{{item.name}}</a></td>
                <td><a v-bind:href="'https://gu.qq.com/'+item.code" target=_blank ><font color=blue>{{item.code}}</font></a></td>
                <td>{{item.value}}</td>
                <td>{{item.hqltsz}}</td>
                <td>{{item.tdxbk}}</td>
                <td>{{item.tdxgn}}</td>
                <td>{{item.chouma}}</td>
                </tr>
                </tbody>
            </table> 
        </div> <!--display-->
      </div><!--col-->
  </div> <!--row-->
</div> <!-- container-->

</div> <!-- app for vue-->

    

  <!-- Template Main JS File -->
  <script src="http://www.zhanluejia.net.cn/corlate/js/jquery.js"></script>
  <script src="http://klang.zhanluejia.net.cn/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="http://klang.zhanluejia.net.cn/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.1.0/vue.global.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>


      <script>


    function getcodetree(){
        var codetree={}
        codetree1 = localStorage.getItem("klangcodelist")

        if (codetree1 != null){
            codetree = JSON.parse(codetree1)
        }
            
        return codetree

    }

    function savemain(code){

        var codetree={}
        codetree1 = localStorage.getItem("klangcodelist")

        if (codetree1 != null){
            codetree = JSON.parse(codetree1)
        }
        if (codetree[code]) {
            return codetree
        }
        codetree[code] = []
        localStorage.setItem("klangcodelist",JSON.stringify(codetree))
        return codetree
    }

    function deletemain(code){
        codetree = localStorage.getItem("klangcodelist")

        if (codetree == null){
            return {}
        }

        codetree = JSON.parse(codetree)

        delete codetree[code] 
        localStorage.setItem("klangcodelist",JSON.stringify(codetree))
        return codetree
 
    }

    function savesub(code,subcode){
        codetree = savemain(code)

        if (codetree[code].includes(subcode) == false){
            codetree[code].push(subcode)
        }
        localStorage.setItem("klangcodelist",JSON.stringify(codetree))
        return codetree
    }


   </script>


    <script>
   var hostname = window.location.hostname
   var host = window.location.host
     if (hostname == ""){
        hostname = "127.0.0.1"
        apihost = "http://127.0.0.1:9999"
     } else {
        apihost = "http://"+host
     }
   
      const VueApp = {
        data() {
            return {
                online:0,
                usercount:0,
                busy:0,
                result:[],
                codetree:{},
                codelist:[],
            }
        },
    
        created() {
            
        },

        mounted () {
            var that = this
            this.codetree = getcodetree()
            this.codelist = Object.keys(this.codetree)
        },
        methods: {

            delmain(code){

               this.codetree =  deletemain(code)
               this.codelist = Object.keys(this.codetree)
            },

            addmain(){
                var code = $("#maincode").val()
                if (code == ''){
                        return
                }
                    
                this.codetree = savemain(code)
                this.codelist = Object.keys(this.codetree)

                $("#maincode").val('')
            }
        }
      }//VueApp
      window.vue = Vue.createApp(VueApp).mount('#app')

 
   </script>

    </body>
</html>
<!--
https://mdbootstrap.com/docs/b5/vue/getting-started/installation/
-->
